In [3]:
import numpy as np
import pandas as pd

In [4]:
df = pd.read_csv("https://pycourse.s3.amazonaws.com/bike-sharing.csv")
df

,datetime,rec_id,season,year,month,hour,is_holiday,weekday,is_workingday,weather_condition,temp,atemp,humidity,windspeed,casual,registered,total_count
0,2011-01-01,1,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0000,3,13,16
1,2011-01-01,2,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0000,8,32,40
2,2011-01-01,3,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0000,5,27,32
3,2011-01-01,4,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0000,3,10,13
4,2011-01-01,5,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0000,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17374,2012-12-31,17375,1,1,12,19,0,1,1,2,0.26,0.2576,0.60,0.1642,11,108,119
17375,2012-12-31,17376,1,1,12,20,0,1,1,2,0.26,0.2576,0.60,0.1642,8,81,89
17376,2012-12-31,17377,1,1,12,21,0,1,1,1,0.26,0.2576,0.60,0.1642,7,83,90
17377,2012-12-31,17378,1,1,12,22,0,1,1,1,0.26,0.2727,0.56,0.1343,13,48,61
17378,2012-12-31,17379,1,1,12,23,0,1,1,1,0.26,0.2727,0.65,0.1343,12,37,49

In [5]:
df.shape

(17379, 17)

In [81]:

print("{:.7f}".format(df.windspeed.mean()))
print("{:.7f}".format(df.temp.mean()))

0.1900976
0.4969872

In [82]:
df['datetime'] = pd.to_datetime(df['datetime'])
#df.dtypes

In [83]:
years = df["datetime"].dt.year
#print(years)

In [42]:
print(df.loc[years==2011].shape,
df.loc[years==2012].shape)

(8645, 17) (8734, 17)

In [40]:
df.groupby(by=years).sum().total_count

datetime
2011    1243103
2012    2049576
Name: total_count, dtype: int64

In [61]:
seasons = df.groupby(by='season').total_count.mean()
print(seasons.idxmax())
print(seasons.idxmin())

3
1

In [65]:
hours = df.groupby(by='hour').total_count.mean()
#hours
print(hours.idxmax())
print(hours.idxmin())

17
4

In [70]:
weeks = df.groupby(by='weekday').total_count.mean()
#weeks
print(weeks.idxmax())
print(weeks.idxmin())

4
0

In [76]:
wends = df[df.weekday==3]
w_hours = wends.groupby(by='hour').total_count.mean()
#w_hours
print(w_hours.idxmax())
print(w_hours.idxmin())

17
3

In [79]:
sat = df[df.weekday==6]
w_sat = sat.groupby(by='hour').total_count.mean()
#w_sat
print(w_sat.idxmax())
print(w_sat.idxmin())

13
4